<!DOCTYPE html>
<html>
  <head>
    <title>Carrierwave</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style type="text/css">
      .breadcrumb {
        font-size: 12px;
      }
      nav {
        height: 40px;
        line-height: 40px;
        padding: 0 40px;
        vertical-align: middle;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
